/* ALL */
* {
	padding: 0;
	margin: 0;
}
body{
	background-color:#f7f7f7;

	/*NAV*/
}
.nav_menu {
    background-color: #262728;
}
.nav_list {
    list-style-type: none;
    margin: 0px 132px;
    padding-top: 13px;
    padding-bottom: 14px;
}
.nav_link {
    font-size: 18px;
    padding: 22px;
    font-family: "Times New Roman";
    text-decoration: none;
    color: #ffffff;
}
.nav_link_1{
    font-size: 18px;
    padding: 15px;
    font-family: "Times New Roman";
    text-decoration: none;
    background-color: #474b4f;
    color: #ffffff;
}
.left_block {
    text-align: justify;
    float: left;
    width: 210px;
    background-color: #ffffff;
    margin: 30px 0px 0 133px;
    padding: 2px 20px;
    font-size: 13px;
}
.right_block {
    text-align: justify;
    float: right;
    width: 210px;
    background-color: #ffffff;
    margin: 30px 350px 0 0;
    padding: 2px 20px;
    font-size: 13px;
}
.top_title{
	font-size: 20px;
	padding-bottom: 15px;
    padding-top: 15px;
}
.not_afraid{
	 margin-top: 0.5em;
}
.top_title {
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 15px;
}
.not_afraid{
	 margin-top: 0.5em;
}
.bee_right{
	margin-top: 10px;
	width: 225px;
	height: 140px;
}
.bee_below{
	margin-top: 20px;
	width: 225px;
	height: 140px;
}
.bee_center{
	width: 803px;
    height: 500px;
}
.bee_big{
	width: 980px;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bee_big_2{
	width: 971px;
    height: 500px;
}
.main_info {
    float: left;
    width: 600px;
    background-color: #ffffff;
    margin-top: 30px;
}
.main_title {
    font-size: 21px;
}
.main_p {
    font-size: 16px;
    padding-top: 10px;
  }